.docs-sidebar {
    .nav-item {
        font-weight: 500;

        a {
            color: lighten($dark, 10%);

            &:hover {
                color: $primary;
            }

            &:active {
                color: darken($primary, 10%);
            }
        }

        a.active {
            color: $primary;
        }
    }
}

pre[class*="language-"] {
    margin: 1rem 0 2rem !important;
    border: 1px solid #eee;
    border-radius: 0.25rem;
}
