@import "theme-variables";
@import "breakpoints";
@import "bootstrap/scss/mixins";

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value, #fff);
    }

    .btn-outline-#{$color} {
        @include button-outline-variant($value, #fff, $value, $value, #eee);
    }

    .badge.bg-#{$color} {
        color: $value;
        background-color: lighten($value, 40%) !important;
    }
}

.breadcrumb-item a {
    text-decoration: none;
}

.nav-tabs .nav-link {
    border-bottom: 0;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
}

.badge {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}
