img {
    pointer-events: none;
}

a {
    user-drag: none;
    -webkit-user-drag: none;
}

i.icon-xs {
    font-size: 0.75rem;
}

i.icon-sm {
    font-size: 1rem;
}

i.icon-md {
    font-size: 1.4rem;
}

i.icon-lg {
    font-size: 3rem;
}

i.icon-footer {
    font-size: 1.6rem;
    color: $secondary;
    transition: color 0.2s;

    &:hover {
        color: $dark;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.text-overflow-hover {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        overflow: visible;
    }
}

.disable-text-wrap {
    white-space: nowrap;
}
